
<!-- Make sure the images we upload for demo have square proportions and the text is centered -->
  <%= link_to team_path(team) do %>
    <!-- Consider rounding out the edges -->
    <%= image_tag team.team_logo.url(:team_summary), class: 'team-logo' %>
  <% end %>

<div class='team-name alert'>
  <h4><%= link_to team.name, team_path(team) %></h4>
</div>

