<div class='col-xs-2'>
</div>

<div class='col-xs-8 teams_box'>
  <% @teams.each do |team| %>
    <div class='col-xs-6 team-box'>
      <%= render partial: 'team_summary', locals: { team: team } %>
    </div>
  <% end %>

  <div class='col-xs-12 new-team'>
    <%= link_to new_team_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> Add Team
    <% end %>
  </div>


</div>

<div class='col-xs-2'>
</div>
