<body id="top" class="fullscreen-image-background">

  <!-- NAVBAR -->
<div class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <%= link_to "Team Genie", root_path, :class => "navbar-brand"%>
      </div>
      <nav class="navbar-collapse collapse" id="main-nav" role="navigation">
          <li><%= link_to 'MY TEAMS', teams_path, class: 'btn' %></li>
          <li><%= button_to 'LOG OUT', logout_path, class: 'btn' %></li>
        </ul>
      </nav>
  </div>
  <br>
  <br>
<!-- END NAVBAR -->
