<div class='game-view'>
  <h4>
    <%= game.game_time.strftime("%m/%d/%y, beginning at %l:%M %p") %> @ <%= link_to game.location.name, location_path(game.location) %>
  </h4>
  <% team.players.each do |player| %>
    <%= render partial: 'rsvps/show', locals: {game: game, player: player}%>
  <% end %>
</div>
