<div class='col-xs-12'>
  <p>
    <%= player.first_name %> <%= player.last_name %> -
    <%= player.rsvps.find_by(game: game).attending %>
    <% if is_current_user?(player) %>
      <a class='change-rsvp' href=<%= edit_team_game_rsvp_path(game.team, game, player) %>  >Change RSVP</a>
    <% end %>
  </p>
</div>
