<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <p class='navbar-text'>
        <span class='hidden-xs'>
        Collect <a><strong><%= @team.name %></strong></a> Dues Online Using Stripe</span></p>
    </div>
    <div class='collapse navbar-collapse'>
      <p class='navbar-text navbar-right'>
      </p>
    </div>
  </div>
</nav>
