.new-team {
  margin: 2em;
  text-align: center;
  padding: 2em;
  background-color: red;
}

.team-box {
  margin-bottom: 2em;
}

.team-name {
  margin: 1em;
  text-align: center;
}

.team-logo-box {
  height: 150px;
  vertical-align: bottom;
}

.teams_box {
  text-align: center;
}
